* {
  font-family: 'Futura';
}

.header-logo img {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-signup {
  text-align: center;
}

.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  margin-left: 20px;
}

.login-form-box {
  outline: 3px solid black;
  padding: 20px;
}

.welcome-logout {
  text-align: center;
  font-size: 16px;
}
.new-veg-form {
  float: left;
  margin: 50px 100px;
}

.veg-field-title {
  font-weight: bold;
  font-size: 18px;
}

.veg-field {
  padding: 5px;
  font-size: 14px;
}

.veg-show {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

p {
  white-space: pre-wrap;
}

.index-grid {
  padding: 20px;
  margin: 0px;
}

.index-photo {
  display: block;
  max-width: inherit;
  height: auto;
  width: auto\9;
  -ms-interpolation-mode: bicubic;
}

.index-item {
  position: relative;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
  font-size: 600%;
  max-height: 393px;
  overflow: hidden;
}

@media screen and (min-width: 50em) {
  .index-item {
    width: calc(25% - 6px);
  }

  .index-item:nth-of-type(2n) {
    margin-right: 8px;
  }

  .index-item:nth-of-type(4n) {
    margin-right: 0;
  }
}

.grid-name {
  position: absolute;
  top: 73px;
  width: 100%;
  color: white;
  font-size: 65%;
  text-align: center;
}

.veg-name {
  position: absolute;
  top: 29px;
  width: 100%;
  color: white;
  font-size: 600%;
  text-align: center;
}
