/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  white-space: pre-wrap;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Libre Baskerville', serif;
}


.header-logo img {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-signup {
  text-align: center;
}

.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  margin-left: 20px;
}

.login-form-box {
  outline: 3px solid black;
  padding: 20px;
}

.welcome-logout {
  text-align: center;
  font-size: 16px;
}

.new-form {
  float: left;
  margin: 50px 100px;
}

.form-field-title {
  font-weight: bold;
  font-size: 18px;
}

.form-field {
  padding: 5px;
  font-size: 14px;
}

.page-show {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: justify;
}

.index-grid {
  padding: 20px;
  margin: 0px;
}

.index-photo {
  display: block;
  max-width: inherit;
  height: auto;
  width: auto\9;
  -ms-interpolation-mode: bicubic;
}

.index-item {
  position: relative;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
  font-size: 600%;
  max-height: 393px;
  overflow: hidden;
}

@media screen and (min-width: 50em) {
  .index-item {
    width: calc(25% - 6px);
  }

  .index-item:nth-of-type(2n) {
    margin-right: 8px;
  }

  .index-item:nth-of-type(4n) {
    margin-right: 0;
  }
}

.grid-name {
  position: absolute;
  top: 73px;
  width: 100%;
  color: white;
  font-size: 65%;
  text-align: center;
}

.veg-photo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.veg-name {
  position: absolute;
  top: 29px;
  width: 100%;
  color: white;
  font-size: 600%;
  text-align: center;
}

.recipe-title {
  font-size: 30px;
  text-align: center;
}

.recipe-author {
  color: grey;
  text-align: center;
}

.recipe-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.recipe-ingredients {

}
