.comments-wrapper {
  width: 100%;
  margin: 2vw 0;
}

.comment-form {
  padding: 3vw;
  background: white;
}

.comment-title {
  font-size: 150%;
  color: #70706e;
}

.comment-textarea {
  width: 100%;
  border: 1px solid #70706e;
  margin: 1vw 3vw 1vw 0;
}

.comment-submit {
  width: 20%;
  background: #d83a16;
  color: white;
  font-family: 'Roboto';
  padding: 1vw;
  text-align: center;
}

.comment-cancel {
  background: #e2e1d7;
  color: #70706e;
}

.login-to-comment {
  font-size: 1.3vw;
}

.comments {
  padding: 3vw;
  margin-top: 2vw;
  background: white;
}

.comment-wrapper {
  padding: 2vw 0;
  border-top: 1px solid #e2e1d7;
  border-bottom: 1px solid #e2e1d7;
  display: flex;
}

.comment-user-photo-wrapper {
  width: 4%;
  height: 4%;
  padding: 1%;
  margin-right: 2%;
  background: #d83a16;
}
.comment-info {
  display: flex;
  margin-bottom: .2vw;
  flex-direction: column;
  justify-content: center;
}

.comment-user {
  margin: 0;
  margin-right: 2vw;
  line-height: 2.24vw;
  font-size: 100%;
}

.comment-date {
  font-size: 80%;
  color: #70706e;
}

.comment-body {
    margin-top: 2%;
}
