.greeting-wrapper{
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  margin-bottom: 1.5vw;
  background-color: white;
  color: #d83a16;
  background-image: url("http://res.cloudinary.com/djulergb7/image/upload/v1473360715/veg-pattern_orange_trans-back_rtsori.png");
}

.greeting-content {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 1%;
}
.greeting-head {
  text-align: center;
  font-size: 200%;
}

.greeting-caption {
  font-family: 'Roboto';
  font-size: 81%;
  text-align: center;
  line-height: 146%;
  margin-top: 1%;
}
