.header {
  background: #d83a16;
  color: white;
  position: relative;
  z-index: 1;
}

.header a {
  display: block;
  padding: 10px 3vw;
}

.header-nav {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  float: left;
  width: 7.5vw;
  margin-left: 20px;
  margin: 1vw 0;
}

.header-list {

}

.header-links {
  float: left;
  font-family: 'Roboto';
  font-size: 1.3vw;
}

.header-links:hover {
  color: #e2e1d7;
}

.header-profile {
  display: none;
  position: absolute;
  font-size: 12px;
  white-space: nowrap;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.header-profile-action {
  padding: 0px 20px;
}

li:hover .header-profile {
  display: block;
}

.header-profile > li {
  color: #d83a16;
}

.header-profile > li:hover {
  background: #d83a16;
  color: white
}

.header-search-wrapper {
  border: 1px solid #70706e;
  padding: 5px 5px;
  margin: 20px;
  margin-right: 3vw;
  background-color: white;
}

.header-search {
  min-height: 26px;
  font-size: 13px;
  padding: 5px 1.5px;



}
