.header {
  background: #d83a16;
  color: white;
  position: relative;
  z-index: 1;
}

.header a {
  display: block;

}

.header-nav {
  margin: 0 auto;
  width: 100%;
  max-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  float: left;
  width: 10%;
  margin-left: 20px;
  padding: 1.3% 3vw;
}

.logo {
  max-width: 100px
}

.header-links {
  float: left;
  font-family: 'Roboto';
  font-size: 70%;
  letter-spacing: 1.4px;
  padding: 1.3% 3vw;
}

.header-links:hover {
  color: #e2e1d7;
}

.header-profile {
  display: none;
  position: absolute;
  right: 0px;
  margin-top: .6%;
  font-size: 12%;
  white-space: nowrap;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.header-profile-action {
  padding: 8% 3vw;
}

li:hover .header-profile {
  display: block;
}

.header-profile > li {
  color: #d83a16;
}

.header-profile > li:hover {
  background: #d83a16;
  color: white
}

.header-search-wrapper {
  padding: 5px 5px;
  margin: 20px;
  margin-right: 3vw;
  background-color: white;
}

.header-search {
  min-height: 26px;
  font-size: 13px;
  padding: 5px 1.5px;
  color: #70706e;
}
