.recipe-show-page {
  padding: 20px 3vw;
  margin: 0px;
}

.recipe-show-info {
  background: white;
  padding: 3vw;
}

.recipe-title {
  color: #d83a16;
  font-size: 3vw;
}

.recipe-author {
  color: grey;
  margin: 1vw 0;
  font-size: 1.6vw;
}

.recipe-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.recipe-ingredients {
  font-family: 'Roboto';
  font-size: 1.55vw;
  margin: 3vw 0;
}

.recipe-instructions {
  font-family: 'Roboto';
  font-size: 1.55vw;
  column-count: 2;
  column-gap: 3vw;
  text-align: justify;
}

.comments-wrapper {
  width: 100%;
  background: white;
  margin: 2vw 0;
}

.comment-form {
  padding: 3vw;
}

.comment-title {
  font-size: 2.5vw;
  color: #70706e;
}

.comment-textarea {
  width: 100%;
  border: 1px solid #70706e;
  margin: 1vw 3vw 1vw 0;
}

.comment-submit {
  width: 20%;
  background: #d83a16;
  color: white;
  font-family: 'Roboto';
  padding: 1vw;
  text-align: center;
}

.comment-cancel {
  background: #e2e1d7;
  color: #70706e;
}
