.recipes-filter-wrapper {
  background-color: white;
  margin-top: 20px;
}

.homepage .recipe-index-wrapper{
  width: 100%;
}

.recipe-index-wrapper {
  margin: 30px 0px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.recipe-index-item {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.recipe-index-photo-wrapper {
  width: 86%;
  position: relative
}

.recipe-triangle {
  position: absolute;
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid white;
	border-bottom: 25px solid transparent;
}

.recipe-index-info-wrapper {
  width: 25%;
  background-color: white;
  padding: 20px;
  position: relative;
}

.recipe-index-title {
  color: #d83a16;
  font-size: 140%;
}

.recipe-index-ingredients{
  position: absolute;
  bottom: 2.5%;
  margin-right: 7%;
  font-family: 'Roboto', sans-serif;
  font-size: 66%;
  overflow: scroll;
  max-height: 45%;
}
