.recipe-show-page {
  padding: 20px 6vw;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.recipe-show-info {
  background: white;
  padding: 3vw;
}

.recipe-title {
  color: #d83a16;
  font-size: 200%;
}

.recipe-author {
  color: grey;
  margin: 1vw 0;
  font-size: 100%;
}

.recipe-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.recipe-ingredients {
  font-family: 'Roboto';
  font-size: 80%;
  margin: 3% 0;
}

.recipe-instructions {
  font-family: 'Roboto';
  font-size: 80%;
  column-count: 2;
  column-gap: 30px;
  text-align: justify;
}

.recipe-show-buttons {
  margin-top: 3vw;
}

button.recipe-edit-button {
  margin-right: 2vw;
}
