@media (min-width: 990px) {
  .veg-fluid-grid {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}

.veg-index-grid {
  display: flex;
  flex-wrap: wrap;
}

.veg-index-item {
  padding-left: .9375rem;
  padding-right: .9375rem;
  display: inline-block;
  position: relative;
  margin-bottom: 8px;
  margin-right: 8px;
  max-height: 393px;
  overflow: hidden;
}

@media screen and (min-width: 50em) {
  .veg-index-item {
    width: calc(25% - 6px);
  }

  .veg-index-item:nth-of-type(2n) {
    margin-right: 8px;
  }

  .veg-index-item:nth-of-type(4n) {
    margin-right: 0;
  }

}

.veg-item-photo {
  cursor: pointer;
  position: relative;
  z-index: 0;
}

@media (min-width: 767px) {
  .veg-item-name-box {
    margin-top: 10px
  }
}

.veg-item-name-box {
  display: block;
  width: auto;
  background-color: pink;
  margin: 1.33em 0;
  cursor: pointer;
}

.veg-item-name {
  text-align: center;
  display: block;
  margin: 0;
}
