.homepage {
  padding: 20px 3vw;
  margin: 0px;
}

.veg-index-item {
  position: relative;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
  font-size: 600%;
  max-height: 393px;
  overflow: hidden;
  cursor: pointer;
}

@media screen and (min-width: 50em) {
  .veg-index-item {
    width: calc(25% - 6px);
  }

  .veg-index-item:nth-of-type(2n) {
    margin-right: 8px;
  }

  .veg-index-item:nth-of-type(4n) {
    margin-right: 0;
  }
}

.veg-item-photo:hover {
    opacity: .5;
}

.overlay {
  opacity: .5;
}

.veg-item-name-box {
  display: block;
  width: auto;
  background-color: white;
  cursor: pointer;
}

.veg-item-name {
  font-size: 1.5vw;
  padding: 6%;
  text-align: center;
  display: block;
  margin: 0;
}

.veg-selection-wrapper {
  background-color: white;
}

.veg-selection {
  padding: 10px 20px;
  margin-top: 10px;
}

.veg-selection-head {
  margin: 0 0 0 0;
}
